@font-face {
  font-family: 'Myriad Pro';
  src: url("./fonts/MyriadProBoldSemiExtended.eot");
  /* IE9 Compat Modes */
  src: url("./fonts/MyriadProBoldSemiExtended.eot?#iefix") format("embedded-opentype"), url("./fonts/MyriadProBoldSemiExtended.woff2") format("woff2"), url("./fonts/MyriadProBoldSemiExtended.woff") format("woff"), url("./fonts/MyriadProBoldSemiExtended.ttf") format("truetype"), url("./fonts/MyriadProBoldSemiExtended.svg#svgFontName") format("svg");
  /* Legacy iOS */ }

a {
  text-decoration: none;
  color: #7a8282; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Myriad Pro';
  width: 100%; }

nav, ul {
  margin: 0;
  padding: 0; }

nav li, ul li {
  list-style-type: none;
  float: left;
  margin: 0 5px; }

nav, nav li:after, ul li:after {
  clear: both; }

img {
  width: 100%;
  height: auto; }

.col04 {
  width: 260px; }

.col03 {
  width: 353.33px; }

.col02 {
  width: 540px; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.container {
  width: 1120px;
  margin: 0 auto; }
  .container .col04, .container .col03, .container .col02 {
    float: left;
    display: inline-block;
    margin: 10px; }

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    width: 1024px; }
  .col04 {
    width: 236px; }
  .col03 {
    width: 321.33px; }
  .col02 {
    width: 492px; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 768px; }
  .col04 {
    width: 172px; }
  .col03 {
    width: 236px; }
  .col02 {
    width: 364px; } }

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    width: 480px; }
  .col04 {
    width: 100%; }
  .col03 {
    width: 100%; }
  .col02 {
    width: 100%; }
  #header {
    height: 150px !important;
    text-align: center; }
    #header li {
      margin: 10px 5px; }
  .flexslider {
    width: 100%; }
  [class*="col-"] {
    width: 100%; }
  .custom {
    margin-top: 40px !important; }
    .custom .col-12 {
      text-align: center; }
      .custom .col-12 h1 {
        margin-bottom: 10px; }
    .custom .content {
      margin-bottom: 20px; }
      .custom .content p {
        margin-bottom: 20px !important; }
    .custom .block .row {
      margin-bottom: 20px !important; }
      .custom .block .row .number {
        margin-bottom: 5px; }
      .custom .block .row .info {
        margin-left: 0;
        width: 100%; }
        .custom .block .row .info h3 {
          margin-bottom: 10px; } }

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 300px; }
  .col04 {
    width: 100%; }
  .col03 {
    width: 100%; }
  .col02 {
    width: 100%; }
  #header {
    height: 200px !important;
    text-align: center; }
    #header li {
      margin: 10px 5px; }
  .flexslider {
    width: 100%; }
  [class*="col-"] {
    width: 100%; }
  .custom {
    margin-top: 40px !important; }
    .custom .col-12 {
      text-align: center; }
      .custom .col-12 h1 {
        margin-bottom: 10px; }
    .custom .content {
      margin-bottom: 20px; }
      .custom .content p {
        margin-bottom: 20px !important; }
    .custom .block .row {
      margin-bottom: 20px !important; }
      .custom .block .row .number {
        margin-bottom: 5px; }
      .custom .block .row .info {
        margin-left: 0;
        width: 100%; }
        .custom .block .row .info h3 {
          margin-bottom: 10px; } }

#header {
  background: #1d2126;
  width: 100%;
  height: 80px; }
  #header .ahead {
    padding: 30px 0; }
    #header .ahead .logo {
      display: inline;
      color: #fff; }
    #header .ahead .menu {
      float: right; }
      #header .ahead .menu a {
        padding: 5px 10px 3px 10px;
        border-radius: 5px;
        border: 2px solid transparent;
        -webkit-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
      #header .ahead .menu li:first-child a {
        color: #23b7a4;
        border: 2px solid #23b7a4; }
      #header .ahead .menu a:hover {
        border: 2px solid #fff !important;
        color: #fff !important; }

.main-page .flexslider {
  overflow: hidden; }
  .main-page .flexslider .slides li {
    position: relative; }
  .main-page .flexslider .content {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .main-page .flexslider .content h1 {
      color: #fff; }
    .main-page .flexslider .content p, .main-page .flexslider .content a {
      color: #7a8282; }
    .main-page .flexslider .content .button {
      margin-top: 40px; }
      .main-page .flexslider .content .button .btn {
        padding: 10px 15px 6px 15px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        border: 2px solid #fff;
        margin-right: 10px;
        -webkit-transition: all 500ms;
        -o-transition: all 500ms;
        transition: all 500ms; }
        .main-page .flexslider .content .button .btn:hover {
          border: 2px solid #23b7a4;
          background: #23b7a4; }

.custom {
  height: auto;
  overflow: hidden; }
  .custom .content {
    display: inline-block; }
    .custom .content p {
      color: #8d8f92;
      margin-top: 0;
      margin-bottom: 40px; }
    .custom .content .icon li {
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 65px;
      background: #c8cdd0;
      color: #fff;
      font-size: 20px;
      margin: 1px;
      -webkit-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      cursor: pointer; }
      .custom .content .icon li:hover {
        background: #d0d5d9; }
  .custom .block {
    display: inline-block;
    float: right; }
    .custom .block .number {
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      background: #23b7a4;
      line-height: 55px;
      color: #fff;
      font-size: 20px; }
    .custom .block .info {
      display: inline-block;
      width: 85%;
      vertical-align: top;
      margin-left: 10px; }
      .custom .block .info h3 {
        text-transform: uppercase;
        color: #292f36;
        margin-bottom: 20px; }
      .custom .block .info p {
        color: #8d8f92;
        margin: 0;
        font-size: 16px; }
    .custom .block .row {
      margin-bottom: 40px; }

h6.line {
  border-bottom: 1px solid #dde1e4; }

.col-12 {
  margin: 10px; }
  .col-12 h3 {
    font-size: 26px;
    font-weight: 100;
    margin-top: 80px;
    margin-bottom: 60px;
    display: inline-block;
    border-left: 10px solid #e1e6ea;
    padding-left: 10px; }

.team .info-team .info {
  display: inline-block;
  vertical-align: top;
  float: left;
  position: relative;
  margin-bottom: 30px;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms; }
  .team .info-team .info:hover .icon {
    visibility: visible; }
  .team .info-team .info:hover .detail-us {
    background: #3a454d;
    color: #fff; }
  .team .info-team .info:hover img {
    background: #fff;
    opacity: 0.7; }

.team .info-team .info:first-child {
  margin-left: 0; }

.team .info-team .detail {
  position: relative;
  line-height: 8px;
  padding: 0 8px; }
  .team .info-team .detail .icon {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    visibility: hidden; }
    .team .info-team .detail .icon ul {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      .team .info-team .detail .icon ul li {
        margin: 1px; }
        .team .info-team .detail .icon ul li i {
          background: #3a454d;
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 45px;
          color: #fff;
          font-size: 20px; }

.team .info-team .detail-us {
  margin: 0 8px;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  height: 50px;
  background: #e1e6ea;
  padding-left: 10px;
  padding-top: 15px; }

.our-work {
  clear: both;
  background: #3a454d;
  overflow: hidden;
  height: auto; }
  .our-work h3 {
    color: #fff; }
  .our-work .block {
    line-height: 0px;
    cursor: pointer;
    position: relative; }
    .our-work .block:hover .info {
      visibility: visible; }
    .our-work .block:hover img {
      background: #fff;
      opacity: 0.7; }
    .our-work .block .info {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 100%; }
      .our-work .block .info .cong {
        position: absolute;
        left: 0;
        right: 0;
        height: 90%;
        overflow: hidden;
        z-index: 0; }
        .our-work .block .info .cong i {
          color: #fff;
          font-size: 22px;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -100%);
          -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%); }
      .our-work .block .info .place {
        height: 60px;
        color: #d5d5d6;
        background: #292f36;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9; }
        .our-work .block .info .place h4 {
          padding-top: 32px;
          padding-left: 20px; }
  .our-work .container {
    overflow: hidden; }
  .our-work .show {
    text-align: center;
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px; }
    .our-work .show a {
      border: 2px solid #fff;
      border-radius: 5px;
      color: #fff;
      padding: 8px 10px 5px 10px; }

.we-do .content .block {
  text-align: center; }
  .we-do .content .block i {
    font-size: 35px;
    color: #23b7a4;
    margin-bottom: 20px; }
  .we-do .content .block h4 {
    font-size: 20px;
    font-weight: 100; }
  .we-do .content .block p {
    color: #b0b1b3; }

.features {
  clear: both;
  overflow: auto;
  background: #3a454d;
  padding-bottom: 90px; }
  .features h3 {
    color: #fff; }
  .features .content .block h4 {
    font-size: 18px;
    font-weight: 100;
    margin-top: 20px;
    color: #fff; }
  .features .content .block p {
    color: #dcdfe1; }

.map {
  overflow: -webkit-paged-y;
  height: auto; }
  .map .form-info .form {
    position: relative; }
    .map .form-info .form form {
      background: #fff;
      position: absolute;
      top: -100px;
      padding: 20px; }
      .map .form-info .form form label {
        text-transform: uppercase;
        color: #8d8f92; }
      .map .form-info .form form .sol {
        width: 90%;
        height: 30px;
        background: #e1e6ea;
        border: 1px solid #e1e6ea; }
      .map .form-info .form form .full-name {
        margin-bottom: 20px;
        overflow: hidden; }
        .map .form-info .form form .full-name .init {
          display: inline-block;
          vertical-align: top;
          float: left;
          margin-top: 10px; }
      .map .form-info .form form .message textarea {
        width: 94%;
        background: #e1e6ea;
        border: 1px solid #e1e6ea; }
      .map .form-info .form form input[type="submit"] {
        background: #23b7a4;
        border: 1px solid #23b7a4;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        margin-top: 20px; }
  .map .form-info .info h3 {
    font-weight: 100; }
  .map .form-info .info p {
    color: #8d8f92; }

.footer {
  background: #3a454d;
  overflow: hidden; }
  .footer .block-info {
    line-height: 3;
    color: #fff; }
  .footer .contact {
    line-height: 5; }
    .footer .contact ul {
      overflow: hidden;
      float: right; }
